In [4]:
import pandas as pd
df= pd.read_excel("C:\\Users\\piyul\\Desktop\\kaggle\\101 Pool Game Case Study - Data Set.xlsx")
df.head()

,Date,Entry Fee,Seat,Composition,Cut %,# Users,User Cash Game Count,Rake,Wager
0,"July 1, 2018",10,2,2,0.15,198,593,889.5,5930
1,"July 1, 2018",10,6,2,0.15,347,560,840.0,5600
2,"July 1, 2018",10,6,3,0.15,568,1029,1543.5,10290
3,"July 1, 2018",10,6,4,0.15,584,1035,1552.5,10350
4,"July 1, 2018",10,6,5,0.15,592,1065,1597.5,10650

In [5]:
df["Date"]=pd.to_datetime(df["Date"])
df.head()

,Date,Entry Fee,Seat,Composition,Cut %,# Users,User Cash Game Count,Rake,Wager
0,2018-07-01,10,2,2,0.15,198,593,889.5,5930
1,2018-07-01,10,6,2,0.15,347,560,840.0,5600
2,2018-07-01,10,6,3,0.15,568,1029,1543.5,10290
3,2018-07-01,10,6,4,0.15,584,1035,1552.5,10350
4,2018-07-01,10,6,5,0.15,592,1065,1597.5,10650

In [6]:
df.dtypes

Date                    datetime64[ns]
Entry Fee                        int64
Seat                             int64
Composition                      int64
Cut %                          float64
# Users                          int64
User Cash Game Count             int64
Rake                           float64
Wager                            int64
dtype: object

In [7]:
df.rename(columns={"Entry Fee": "entry_fee", "Cut %":"cut","# Users":"users","User Cash Game Count": "count"},inplace=True)

In [8]:
df["entry_fee"].unique()

array([   10,    25,    50,   100,   250,   500,  1000,  2000,  3000,
        5000, 10000,  2500,     5], dtype=int64)

In [9]:
df=df.dropna()

In [27]:
# df=df.astype({'entry_fee': 'float64','Seat': 'float64','comp': 'float64'}).dtypes

In [10]:
df.dtypes

Date           datetime64[ns]
entry_fee               int64
Seat                    int64
Composition             int64
cut                   float64
users                   int64
count                   int64
Rake                  float64
Wager                   int64
dtype: object

In [ ]:
# f=df.groupby(["entry_fee"])['Rake'].transform(max) == df['Rake']
# df[f]

In [ ]:
###############################################################################################################################

In [17]:
# df = df.astype({"count":'category'}) 
# df = df.astype({"count":'int64'}) 
# df.dtypes

In [20]:
f=(df.loc[(df['entry_fee']== 5) & (df["Seat"]==2) & (df["Composition"]==2)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake    309.969298
dtype: float64
count    413.292398
dtype: float64

In [21]:
f=(df.loc[(df['entry_fee']== 5) & (df["Seat"]==6) & (df["Composition"]==2)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake    353.631579
dtype: float64
count    471.508772
dtype: float64

In [22]:
f=(df.loc[(df['entry_fee']== 5) & (df["Seat"]==6) & (df["Composition"]==3)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake    507.640351
dtype: float64
count    676.853801
dtype: float64

In [23]:
f=(df.loc[(df['entry_fee']== 5) & (df["Seat"]==6) & (df["Composition"]==4)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake    451.254386
dtype: float64
count    601.672515
dtype: float64

In [24]:
f=(df.loc[(df['entry_fee']== 5) & (df["Seat"]==6) & (df["Composition"]==5)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake    302.649123
dtype: float64
count    403.532164
dtype: float64

In [25]:
f=(df.loc[(df['entry_fee']== 5) & (df["Seat"]==6) & (df["Composition"]==6)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake    210.114035
dtype: float64
count    280.152047
dtype: float64

In [ ]:
##########################################################################################################################

In [ ]:
###########################################################################################################################3

In [26]:
f=(df.loc[(df['entry_fee']== 10) & (df["Seat"]==2) & (df["Composition"]==2)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake    666.213439
dtype: float64
count    444.142292
dtype: float64

In [27]:
f=(df.loc[(df['entry_fee']== 10) & (df["Seat"]==6) & (df["Composition"]==2)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake    655.363636
dtype: float64
count    436.909091
dtype: float64

In [28]:
f=(df.loc[(df['entry_fee']== 10) & (df["Seat"]==6) & (df["Composition"]==3)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake    1021.594862
dtype: float64
count    681.063241
dtype: float64

In [29]:
f=(df.loc[(df['entry_fee']== 10) & (df["Seat"]==6) & (df["Composition"]==4)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake    1029.142292
dtype: float64
count    686.094862
dtype: float64

In [30]:
f=(df.loc[(df['entry_fee']== 10) & (df["Seat"]==6) & (df["Composition"]==5)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake    917.116601
dtype: float64
count    611.411067
dtype: float64

In [32]:
f=(df.loc[(df['entry_fee']== 10) & (df["Seat"]==6) & (df["Composition"]==6)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake    736.27686
dtype: float64
count    490.85124
dtype: float64

In [ ]:
#############################################################################################################

In [ ]:
#######################################################################################################################

In [33]:
f=(df.loc[(df['entry_fee']== 25) & (df["Seat"]==2) & (df["Composition"]==2)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake    1083.553427
dtype: float64
count    288.947581
dtype: float64

In [34]:
f=(df.loc[(df['entry_fee']== 25) & (df["Seat"]==6) & (df["Composition"]==2)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake    1603.063187
dtype: float64
count    427.483516
dtype: float64

In [35]:
f=(df.loc[(df['entry_fee']== 25) & (df["Seat"]==6) & (df["Composition"]==3)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake    2552.458791
dtype: float64
count    680.655678
dtype: float64

In [36]:
f=(df.loc[(df['entry_fee']== 25) & (df["Seat"]==6) & (df["Composition"]==4)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake    2933.365385
dtype: float64
count    782.230769
dtype: float64

In [37]:
f=(df.loc[(df['entry_fee']== 25) & (df["Seat"]==6) & (df["Composition"]==5)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake    2555.054945
dtype: float64
count    681.347985
dtype: float64

In [38]:
f=(df.loc[(df['entry_fee']== 25) & (df["Seat"]==6) & (df["Composition"]==6)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake    1849.67033
dtype: float64
count    493.245421
dtype: float64

In [ ]:
#############################################################################################################

In [ ]:
##################################################################################################################

In [39]:
f=(df.loc[(df['entry_fee']== 50) & (df["Seat"]==2) & (df["Composition"]==2)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake    1111.071429
dtype: float64
count    148.142857
dtype: float64

In [40]:
f=(df.loc[(df['entry_fee']== 50) & (df["Seat"]==6) & (df["Composition"]==2)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake    2314.980237
dtype: float64
count    308.664032
dtype: float64

In [41]:
f=(df.loc[(df['entry_fee']== 50) & (df["Seat"]==6) & (df["Composition"]==3)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake    3130.434783
dtype: float64
count    417.391304
dtype: float64

In [42]:
f=(df.loc[(df['entry_fee']== 50) & (df["Seat"]==6) & (df["Composition"]==4)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake    2834.258893
dtype: float64
count    377.901186
dtype: float64

In [43]:
f=(df.loc[(df['entry_fee']== 50) & (df["Seat"]==6) & (df["Composition"]==5)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake    1818.112648
dtype: float64
count    242.41502
dtype: float64

In [45]:
f=(df.loc[(df['entry_fee']== 50) & (df["Seat"]==6) & (df["Composition"]==6)])
m=df.loc[f["Rake"].idxmax()]
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake    952.951389
dtype: float64
count    127.060185
dtype: float64

In [ ]:
##########################################################################################################

In [ ]:
##########################################################################################################

In [46]:
f=(df.loc[(df['entry_fee']== 100) & (df["Seat"]==2) & (df["Composition"]==2)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake    980.789474
dtype: float64
count    65.385965
dtype: float64

In [47]:
f=(df.loc[(df['entry_fee']== 100) & (df["Seat"]==6) & (df["Composition"]==2)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake    5430.274725
dtype: float64
count    362.018315
dtype: float64

In [48]:
f=(df.loc[(df['entry_fee']== 100) & (df["Seat"]==6) & (df["Composition"]==3)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake    8227.802198
dtype: float64
count    548.520147
dtype: float64

In [49]:
f=(df.loc[(df['entry_fee']== 100) & (df["Seat"]==6) & (df["Composition"]==4)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake    9718.626374
dtype: float64
count    647.908425
dtype: float64

In [51]:
f=(df.loc[(df['entry_fee']== 100) & (df["Seat"]==6) & (df["Composition"]==5)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake    7088.956044
dtype: float64
count    472.59707
dtype: float64

In [52]:
f=(df.loc[(df['entry_fee']== 100) & (df["Seat"]==6) & (df["Composition"]==6)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake    4080.054945
dtype: float64
count    272.003663
dtype: float64

In [ ]:
##########################################################################################################

In [ ]:
##########################################################################################################

In [53]:
f=(df.loc[(df['entry_fee']== 250) & (df["Seat"]==2) & (df["Composition"]==2)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake    1300.568182
dtype: float64
count    34.681818
dtype: float64

In [104]:
f=(df.loc[(df['entry_fee']== 250) & (df["Seat"]==6) & (df["Composition"]==2)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake    9534.340659
dtype: float64
count    254.249084
dtype: float64

In [54]:
f=(df.loc[(df['entry_fee']== 250) & (df["Seat"]==6) & (df["Composition"]==3)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake    14768.818681
dtype: float64
count    393.835165
dtype: float64

In [55]:
f=(df.loc[(df['entry_fee']== 250) & (df["Seat"]==6) & (df["Composition"]==4)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake    13051.923077
dtype: float64
count    348.051282
dtype: float64

In [56]:
f=(df.loc[(df['entry_fee']== 250) & (df["Seat"]==6) & (df["Composition"]==5)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake    6209.340659
dtype: float64
count    165.582418
dtype: float64

In [57]:
f=(df.loc[(df['entry_fee']== 250) & (df["Seat"]==6) & (df["Composition"]==6)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake    2462.921348
dtype: float64
count    65.677903
dtype: float64

In [ ]:
##########################################################################################################

In [ ]:
##########################################################################################################

In [58]:
f=(df.loc[(df['entry_fee']== 500) & (df["Seat"]==2) & (df["Composition"]==2)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake    1231.392405
dtype: float64
count    20.523207
dtype: float64

In [59]:
f=(df.loc[(df['entry_fee']== 500) & (df["Seat"]==6) & (df["Composition"]==2)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake    9534.945055
dtype: float64
count    158.915751
dtype: float64

In [60]:
f=(df.loc[(df['entry_fee']== 500) & (df["Seat"]==6) & (df["Composition"]==3)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake    10003.516484
dtype: float64
count    166.725275
dtype: float64

In [61]:
f=(df.loc[(df['entry_fee']== 500) & (df["Seat"]==6) & (df["Composition"]==4)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake    5370.549451
dtype: float64
count    89.509158
dtype: float64

In [62]:
f=(df.loc[(df['entry_fee']== 500) & (df["Seat"]==6) & (df["Composition"]==5)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake    1492.105263
dtype: float64
count    24.868421
dtype: float64

In [63]:
f=(df.loc[(df['entry_fee']== 500) & (df["Seat"]==6) & (df["Composition"]==6)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake    571.621622
dtype: float64
count    9.527027
dtype: float64

In [ ]:
##########################################################################################################

In [ ]:
##########################################################################################################

In [64]:
f=(df.loc[(df['entry_fee']== 1000) & (df["Seat"]==2) & (df["Composition"]==2)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake    2961.111111
dtype: float64
count    29.611111
dtype: float64

In [65]:
f=(df.loc[(df['entry_fee']== 1000) & (df["Seat"]==6) & (df["Composition"]==2)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake    25111.355311
dtype: float64
count    251.113553
dtype: float64

In [66]:
f=(df.loc[(df['entry_fee']== 1000) & (df["Seat"]==6) & (df["Composition"]==3)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake    41320.879121
dtype: float64
count    413.208791
dtype: float64

In [67]:
f=(df.loc[(df['entry_fee']== 1000) & (df["Seat"]==6) & (df["Composition"]==4)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake    42528.937729
dtype: float64
count    425.289377
dtype: float64

In [68]:
f=(df.loc[(df['entry_fee']== 1000) & (df["Seat"]==6) & (df["Composition"]==5)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake    21810.989011
dtype: float64
count    218.10989
dtype: float64

In [69]:
f=(df.loc[(df['entry_fee']== 1000) & (df["Seat"]==6) & (df["Composition"]==6)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake    9216.176471
dtype: float64
count    92.161765
dtype: float64

In [ ]:
##########################################################################################################

In [ ]:
##########################################################################################################

In [70]:
f=(df.loc[(df['entry_fee']== 2000) & (df["Seat"]==2) & (df["Composition"]==2)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake    4592.857143
dtype: float64
count    22.964286
dtype: float64

In [71]:
f=(df.loc[(df['entry_fee']== 2000) & (df["Seat"]==6) & (df["Composition"]==2)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake    1960.0
dtype: float64
count    9.8
dtype: float64

In [72]:
f=(df.loc[(df['entry_fee']== 2000) & (df["Seat"]==6) & (df["Composition"]==3)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake    1273.846154
dtype: float64
count    6.369231
dtype: float64

In [74]:
f=(df.loc[(df['entry_fee']== 2000) & (df["Seat"]==6) & (df["Composition"]==4)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake    894.117647
dtype: float64
count    4.470588
dtype: float64

In [75]:
f=(df.loc[(df['entry_fee']== 2000) & (df["Seat"]==6) & (df["Composition"]==5)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake    2000.0
dtype: float64
count    10.0
dtype: float64

In [76]:
f=(df.loc[(df['entry_fee']== 2000) & (df["Seat"]==6) & (df["Composition"]==6)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake    1200.0
dtype: float64
count    6.0
dtype: float64

In [ ]:
##########################################################################################################

In [ ]:
##########################################################################################################

In [78]:
f=(df.loc[(df['entry_fee']== 2500) & (df["Seat"]==2) & (df["Composition"]==2)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake    1000.0
dtype: float64
count    4.0
dtype: float64

In [79]:
f=(df.loc[(df['entry_fee']== 2500) & (df["Seat"]==6) & (df["Composition"]==2)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake    43000.0
dtype: float64
count    172.0
dtype: float64

In [80]:
f=(df.loc[(df['entry_fee']== 2500) & (df["Seat"]==6) & (df["Composition"]==3)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake    54000.0
dtype: float64
count    216.0
dtype: float64

In [81]:
f=(df.loc[(df['entry_fee']== 2500) & (df["Seat"]==6) & (df["Composition"]==4)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake    23000.0
dtype: float64
count    92.0
dtype: float64

In [82]:
f=(df.loc[(df['entry_fee']== 2500) & (df["Seat"]==6) & (df["Composition"]==5)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake    7916.666667
dtype: float64
count    31.666667
dtype: float64

In [83]:
f=(df.loc[(df['entry_fee']== 2500) & (df["Seat"]==6) & (df["Composition"]==6)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake    1500.0
dtype: float64
count    6.0
dtype: float64

In [ ]:
##########################################################################################################

In [ ]:
##########################################################################################################

In [84]:
f=(df.loc[(df['entry_fee']== 3000) & (df["Seat"]==2) & (df["Composition"]==2)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake    11406.666667
dtype: float64
count    38.022222
dtype: float64

In [85]:
f=(df.loc[(df['entry_fee']== 3000) & (df["Seat"]==6) & (df["Composition"]==2)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake    30075.276753
dtype: float64
count    100.250923
dtype: float64

In [86]:
f=(df.loc[(df['entry_fee']== 3000) & (df["Seat"]==6) & (df["Composition"]==3)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake    43332.841328
dtype: float64
count    144.442804
dtype: float64

In [87]:
f=(df.loc[(df['entry_fee']== 3000) & (df["Seat"]==6) & (df["Composition"]==4)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake    19653.932584
dtype: float64
count    65.513109
dtype: float64

In [88]:
f=(df.loc[(df['entry_fee']== 3000) & (df["Seat"]==6) & (df["Composition"]==5)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake    6191.629956
dtype: float64
count    20.638767
dtype: float64

In [89]:
f=(df.loc[(df['entry_fee']== 3000) & (df["Seat"]==6) & (df["Composition"]==6)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake    3104.587156
dtype: float64
count    10.348624
dtype: float64

In [ ]:
##########################################################################################################

In [ ]:
##########################################################################################################

In [90]:
f=(df.loc[(df['entry_fee']== 5000) & (df["Seat"]==2) & (df["Composition"]==2)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake    23835.059761
dtype: float64
count    59.418327
dtype: float64

In [91]:
f=(df.loc[(df['entry_fee']== 5000) & (df["Seat"]==6) & (df["Composition"]==2)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake   NaN
dtype: float64
count   NaN
dtype: float64

In [92]:
f=(df.loc[(df['entry_fee']== 5000) & (df["Seat"]==6) & (df["Composition"]==3)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake   NaN
dtype: float64
count   NaN
dtype: float64

In [93]:
f=(df.loc[(df['entry_fee']== 5000) & (df["Seat"]==6) & (df["Composition"]==4)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake   NaN
dtype: float64
count   NaN
dtype: float64

In [94]:
f=(df.loc[(df['entry_fee']== 5000) & (df["Seat"]==6) & (df["Composition"]==5)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake   NaN
dtype: float64
count   NaN
dtype: float64

In [96]:
f=(df.loc[(df['entry_fee']== 5000) & (df["Seat"]==6) & (df["Composition"]==6)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake   NaN
dtype: float64
count   NaN
dtype: float64

In [ ]:
##########################################################################################################

In [ ]:
##########################################################################################################

In [98]:
f=(df.loc[(df['entry_fee']== 10000) & (df["Seat"]==2) & (df["Composition"]==2)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake    106447.058824
dtype: float64
count    170.911765
dtype: float64

In [99]:
f=(df.loc[(df['entry_fee']== 10000) & (df["Seat"]==6) & (df["Composition"]==2)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake   NaN
dtype: float64
count   NaN
dtype: float64

In [100]:
f=(df.loc[(df['entry_fee']== 10000) & (df["Seat"]==6) & (df["Composition"]==3)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake   NaN
dtype: float64
count   NaN
dtype: float64

In [101]:
f=(df.loc[(df['entry_fee']== 10000) & (df["Seat"]==6) & (df["Composition"]==4)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake   NaN
dtype: float64
count   NaN
dtype: float64

In [102]:
f=(df.loc[(df['entry_fee']== 10000) & (df["Seat"]==6) & (df["Composition"]==5)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake   NaN
dtype: float64
count   NaN
dtype: float64

In [103]:
f=(df.loc[(df['entry_fee']== 10000) & (df["Seat"]==6) & (df["Composition"]==6)])
m=f[['Rake']].mean()
s=f[['count']].mean()
print(m)
print(s)

Rake   NaN
dtype: float64
count   NaN
dtype: float64

In [ ]:
##########################################################################################################

In [ ]:
##########################################################################################################